<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>PoLo</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(POLO_BASE_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(POLO_BUILD)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location will be used to determine your Maidenhead Grid Square to include in your own logs.</string>
	<key>UIAppFonts</key>
	<array>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>Roboto Mono Bold.ttf</string>
		<string>Roboto Mono Light.ttf</string>
		<string>Roboto Mono Medium.ttf</string>
		<string>Roboto Mono Thin.ttf</string>
		<string>Roboto Mono.ttf</string>
		<string>Roboto Slab Black.ttf</string>
		<string>Roboto Slab ExtraBold.ttf</string>
		<string>Roboto Slab Light.ttf</string>
		<string>Roboto Slab Medium.ttf</string>
		<string>Roboto Slab Thin.ttf</string>
		<string>Roboto Slab.ttf</string>
		<string>Roboto Black.ttf</string>
		<string>Roboto Bold.ttf</string>
		<string>Roboto Condensed Black.ttf</string>
		<string>Roboto Condensed Bold.ttf</string>
		<string>Roboto Condensed ExtraBold.ttf</string>
		<string>Roboto Condensed Light.ttf</string>
		<string>Roboto Condensed Medium.ttf</string>
		<string>Roboto Condensed Thin.ttf</string>
		<string>Roboto Condensed.ttf</string>
		<string>Roboto Light.ttf</string>
		<string>Roboto Medium.ttf</string>
		<string>Roboto Thin.ttf</string>
		<string>Roboto.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CodePushDeploymentKey</key>
	<string/>
</dict>
</plist>
